
body {
        background-image: url("https://w0.peakpx.com/wallpaper/254/403/HD-wallpaper-thiruvalluvar-tamil-thirukural.jpg");
        
      }
      
    
.container {
    background-color: #F7F7F7;
    padding: 20px;
    opacity: 0.8;
    }

#result {
    display: none;
}
